$browser-context: 16; // Default
@function rem($pixels, $context: $browser-context) {
  @return calc($pixels/$context) + rem;
}

$black: #26252c;
$yellow: #f0ce4a;
$gray: #efecf3;
$white: #f8f6fb;
$font1: rem(14);
$font2: rem(14);
$font3: rem(20);
$font4: rem(32);
$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
