@import './functions.scss';

.header {
  display: flex;

  justify-content: space-between;
  margin-top: rem(45);
  align-items: center;
}

.nav {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -10px;
}
