@import './functions.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #26252c;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: #efecf3;
}

.container {
  max-width: calc(rem(1170) + rem(60));
  padding-left: rem(30);
  padding-right: rem(30);
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  max-width: calc(rem(770) + rem(60));
  padding-left: rem(30);
  padding-right: rem(30);
  margin-left: auto;
  margin-right: auto;
}

.waveContainer {
  position: relative;
  z-index: -1;
  top: 20vw;
  overflow-x: hidden;
}

.wave {
  width: 100vw;
  min-width: 960px;
}

@media screen and (max-width: 960px) {
  .waveContainer {
    top: 200px;
  }
}

$aos-distance: 20px; // It has to be above import
@import 'node_modules/aos/src/sass/aos.scss';
