@import './functions.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  background: #efecf3;
}

.container {
  max-width: em(1170);
  margin-left: auto;
  margin-right: auto;
}
