@import './functions.scss';

.container {
  padding-top: rem(90);
}

.projects {
  display: grid;
  // flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: rem(30);
}

.project {
  flex: 1;
  min-width: rem(370);
  height: rem(208);
  background: $white;
  box-shadow: $shadow;
  border-radius: rem(20);
  cursor: pointer;
  &.active {
    // position: fixed !important;
    // height: 80vh;
    // width: 81.2vw;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) !important;
    // z-index: 9999;
    opacity: 0 !important;
  }
}
