@import './functions.scss';

.container {
  background: $black;
  padding: rem(90) rem(30);
}

.skills {
  margin: rem(100);
  margin-bottom: 0;
  margin-top: rem(0);
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: rem(30);
}

.item {
  display: flex;
  align-items: center;
  margin-right: rem(60);
  font-size: $font2;
}

.icon {
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: rem(15);
}

.row {
  margin-top: rem(90);
  &:first-of-type {
    // margin-top: rem(30);
  }
  &:last-of-type {
    margin-bottom: rem(60);
  }
}
